* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/jungle.jpg") no-repeat center center/cover;
  transition: background 1s ease-in-out;
}

#game {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  width: 90%;
  max-width: 600px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
}

#level-title {
  margin-bottom: 15px;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.card {
  width: 70px;
  height: 70px;
  background:red;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
}

.card.flipped {
  background: gold;
  transform: scale(1.1);
}

#restart {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #ff9800;
  color: white;
  font-size: 16px;
  cursor: pointer;
}